
@inject UserService UserService
@inject AuthenticationStateProvider AuthProvider

@if (!string.IsNullOrEmpty(message))
{
    <Alert Class="@messageType"> <Icon Name="IconName.CheckCircleFill" class="me-2"></Icon>@message </Alert>
}


<EditForm Model="model" OnValidSubmit="HandleSubmit">
    <DataAnnotationsValidator />


    <div class="mb-3">
        <p class="form-label fw-bold">* Mevcut Şifre</p>
        <InputText @bind-Value="model.CurrentPassword" type="password" class="form-control bg-dark text-white" />
        <ValidationMessage class="text-danger" For="@(() => model.CurrentPassword)" />
    </div>

    <div class="mb-3">
        <p class="form-label fw-bold">* Yeni Şifre</p>
        <InputText @bind-Value="model.NewPassword" type="password" class="form-control bg-dark text-white" />
        <ValidationMessage class="text-danger" For="@(() => model.NewPassword)" />
    </div>

    <div class="mb-3">
        <p class="form-label fw-bold">* Yeni Şifre (Tekrar)</p>
        <InputText @bind-Value="model.ConfirmPassword" type="password" class="form-control bg-dark text-white" />
        <ValidationMessage class="text-danger" For="@(() => model.ConfirmPassword)" />
    </div>

    <button class="btn btn-primary" type="submit">Şifreyi Değiştir</button>
</EditForm>



@code {
    private ChangePasswordDto model = new();
    private string message = string.Empty;
    private string messageType = string.Empty;

    private async Task HandleSubmit()
    {
        if (model.NewPassword != model.ConfirmPassword)
        {
            message = "Yeni şifreler eşleşmiyor.";
            return;
        }

        var authState = await AuthProvider.GetAuthenticationStateAsync();
        var user = authState.User;
        var userId = user.FindFirst(System.Security.Claims.ClaimTypes.NameIdentifier)?.Value;

        if (string.IsNullOrWhiteSpace(userId))
        {
            messageType = "bg-danger"; 
            message = "Kullanıcı oturumu bulunamadı.";
            return;
        }

        var result = await UserService.ChangePasswordAsync(Guid.Parse(userId), model.CurrentPassword, model.NewPassword);
        messageType = "bg-success";
        message = result.Succeeded ? "Şifre başarıyla değiştirildi." :
                                     string.Join(", ", result.Errors.Select(e => e.Description));
    }
    }